/* =========================
   Geist (Sans) font family
   ========================= */

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("/assets/css/geist/Geist-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* =========================
     Geist Mono font family
     ========================= */

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-ExtraLight.ttf") format("truetype");
  font-weight: 300; /* or 200 if you prefer */
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/assets/css/geist-mono/GeistMono-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
